{% extends 'template.html' %} {% block content %}
{% if login_successful == True %}
<p>Login successful</p>
<a href="/">Return to homepage</a>
<script type="text/javascript">
    $(document).ready(function(){
        window.location.href='/';
    });
</script>
{% else %}
<form action="/login" method="POST">
    <p>
    <h3>DCTRL FOB Dashboard</h3>
    </p>
    <p>Username: <input type='text' name='username' /></p>
    <p>Password: <input type='password' name='password' /></p>
    <p><input type='submit' value='Login' /></p>
</form>
{% endif %}
{% if login_unsuccessful == True %}
<p>Bad username or password!</p>
{% endif %}
{% endblock %}